@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif, system-ui;
    background-color: #b1b1b1;
    color: black;
}

#wrapper {
    width: 1250px;
    margin: auto;
    background-color: #e3e3e3;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
}

img {
    float: right;
    border-radius: 5px;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    width: 30%;
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
